PORT=3000
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRODUCT_ID_FREE=prod_Tke7drUvpJ1dlA
STRIPE_PRODUCT_ID_PRO=prod_Tke8NiIjOG9jEx
STRIPE_PRODUCT_ID_ENTERPRISE=prod_Tke8cHCUIl0cgU
NODE_ENV=development